<form [formGroup]="groupedForm">

  Name: <input type="text" formControlName="Name">
  <p></p>
  Staff ID: <input type="text" formControlName="StaffID">
  <p></p>
  Dept: <input type="text" formControlName="Dept">
  <p></p>
  <button type="submit" [disabled]="groupedForm.invalid" (click)="onAdd()">Add New Staff</button>
  <p></p>
  <button type="submit" [routerLink]="['../']">Back</button>

</form>
<p>
  </p>

<div *ngIf="showname.length>0">
  New Staff added!<br>
Name: {{showname}}<br>
Staff Id: {{showstaffid}}<br>
Dept: {{showdept}}
</div>

