<table class="table" style="border:4px solid gray">
  <tr>
  <th scope="col">Staff Id</th>
  <th scope="col">Name</th>
  <th scope="col">Dept</th>
  <th scope="col">View timesheet</th>
  <th scope="col">Remove Staff</th>

  </tr>
  <tr *ngFor="let s of staff">
    <td><h3>{{s.staffid}}</h3></td>
    <td><h3>{{s.name}}</h3></td>
    <td><h3>{{s.department}}</h3></td>
    <td><button type="submit" class="btn btn-primary btn-lg" [routerLink]="['../timesheet/',s.staffid]">View timesheet</button></td>
    <td><button type="submit" class="btn btn-primary btn-lg" (click)="remove(s.staffid)">Remove Staff</button></td>

  </tr>
</table>
<p></p>
<button type="submit" class="btn btn-primary btn-lg" [routerLink]="['../']">Back</button>
