
<a [routerLink]="['auth']">Admin</a> &nbsp;
<a [routerLink]="['contactsupport']">Contact Support</a>

<p></p>

<form [formGroup]="groupedForm">
  Key in your staff ID: <input type="text" formControlName="StaffIdinput">
  <p></p>

  <button class="btn btn-primary btn-lg" type="submit" (click)="clockin()">Clock in</button> &nbsp;
  <button class="btn btn-primary btn-lg" type="submit" (click)="clockout()">Clock out</button>
</form>

<p></p>
<h3>Current 10 year treasury yield: <b>{{currentInterestRate}}%</b></h3>
<p></p>
<agm-map [latitude]="51.678418" [longitude]="7.809007">
  <agm-marker [latitude]="51.678418" [longitude]="7.809007"></agm-marker>
</agm-map>

